h1{
	color: #46AB0F;
	text-align: center;
}
.card .card-content .card-header{
	padding: 0 0 0.5rem 0;
}
footer{
	text-align: center;
}
hr{
	width: 100px;
	height: 2px;
	background-color: #46AB0F;
}
.card{
	width: 200px;

}